# ignore code workspace file
*.code-workspace

# ignore virtual environment folder
**/.venv

**/drafts/problem_[1][0][1-9].py # ignore 101 to 109
**/drafts/problem_[1][1-9][0-9].py # ignore 110 to 199
**/drafts/problem_[1-9][0-9][0-9].py # ignore 200 to 999
**/drafts/problem_[1-9][0-9][0-9][0-9].py
